.gridImages
{
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 25px;
}
.gridImages div img
{
  width: 100%;
  height: 50%;
}


img
{
    display: inline;
    flex: 30%;
    padding: 5% 5%;
    width: 50%;

  }

header
  {
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: white;
    background-color: rgba(242, 0, 255, 0.45);
    width: 100%;
    height: 5%;
  }
